<head lang="{{ .Lang }}">
	{{ "<!-- Site made by Meshal (https://mshl.me) -->" | safeHTML }}
	<meta charset="utf-8">
	<title>{{ .Title }}</title>
	{{ "<!-- mobile responsive meta -->" | safeHTML }}
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with site.Params.description }}{{ . }}{{ end }}{{ end }}">
	{{ with site.Params.author }}
	<meta name="author" content="{{ . }}">{{ end }}
	<meta name="keywords" content='{{ if isset .Site.Params "tags" }}{{ range .Site.Params.tags }} {{ . }},{{ end }}{{ end }} Developer'>
	<link rel="canonical" href="{{ .Permalink }}" />
	
	{{ "<!-- plugins -->" | safeHTML }}
	{{ range site.Params.plugins.css }}
	<link rel="stylesheet" href="{{ .link | absURL }}">
	{{ end }}
	
	{{"<!-- Stylesheets -->"| safeHTML }}
	{{ $styles := resources.Get "css/style.css" | minify }}
	<link rel="stylesheet" href="{{ $styles.Permalink }}" media="screen">
</head>