{{ $data := index site.Data site.Language.Lang }}

{{ if $data.hero.hero.enable }}
{{ with $data.hero.hero }}
{{"<!-- Start Hero Section -->" | safeHTML}}
<section class="hero-area">
	<div id="tsparticles" class="particlesdiv"></div>
	<div class="moon"><div class="moon-overlay"></div></div>
	
	<div class="mx-5 block">
		
		<!-- INVISIBILE HEADING -->
		<h1 class="hero-title  alt-font weight-8 overflow-hidden" data-slice="20" data-aos="nil" data-aos-mirror="true" data-aos-id="hero-txt">Meshal Almutairi</h1>

		<div class="unselectable position-absolute top-50 start-50 translate-middle content__text-wrap overflow-hidden" id="hero-txt-wrap" style="pointer-events: none;">
			<span class="content__text">
					<span class="content__text-inner content__text-inner--stroke">Meshal Almutairi</span>
			</span>
			<span class="content__text">
					<span class="content__text-inner">Meshal Almutairi</span>
			</span>
			<span class="content__text content__text--full">
					<span class="content__text-inner content__text-inner--stroke">Meshal Almutairi</span>
			</span>
			<span class="content__text">
					<span class="content__text-inner content__text-inner--stroke">Meshal Almutairi</span>
			</span>
			<span class="content__text">
					<span class="content__text-inner">Meshal Almutairi</span>
			</span>
			<span class="content__text content__text--full" onmouseover="javascript:Math.random() < 0.5 ? heroTxt.show() : heroTxt.animate();" style="pointer-events: all;">
					<!-- center/middle text -->
					<span class="content__text-inner">Meshal Almutairi</span>
			</span>
			<span class="content__text">
					<span class="content__text-inner content__text-inner--bottom">Meshal Almutairi</span>
			</span>
			<span class="content__text">
					<span class="content__text-inner">Meshal Almutairi</span>
			</span>
			<span class="content__text content__text--full">
					<span class="content__text-inner content__text-inner--stroke">Meshal Almutairi</span>
			</span>
			<span class="content__text">
					<span class="content__text-inner content__text-inner--stroke content__text-inner--bottom">Meshal Almutairi</span>
			</span>
			<span class="content__text">
					<span class="content__text-inner">Meshal Almutairi</span>
			</span>
		</div>
		
		<h5 class="hero-subtitle moving-text">
			<span>
				Engineering Student<br>
				Front-end developer<br>
				iOS Developer
			</span>
		</h5>
		
		{{"<!-- Social Links -->" | safeHTML}}
		<ul class="social-list px-2" style="position: absolute; opacity: 0;" id="hero-social">
			{{ range site.Params.social }}
			<li class="list-inline-item social-item {{ .name }}">
				<a href="{{ .link | safeURL }}" class="social-link" target="_blank" title="{{ .name }}"><i class="{{ .icon }}"></i></a>
			</li>
			{{ end }}
		</ul>
		
		
	</div>
	<a href="#about" class="arrow page-scroll"></a>
</section>
{{"<!-- /hero -->" | safeHTML}}
{{end}}
{{end}}
