{{ define "main" }}

<section class="hero">
	<div class="position-absolute top-50 start-50 translate-middle text-center">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="position-absolute top-50 start-50 translate-middle text-center" style="opacity: 0.1; font-size: 15rem; font-weight: 400; z-index: -1">404</h1>
				<h1 class="text-center" id="test-text">
					<i class="fas fa-skull-crossbones"></i> <br /><br />
					الصفحة غير متوفرة
				</h1>
				<br /><br />
				<p class="text-center">
					<small><a href="/" class="link-underline" style="font-weight: 900">الرجوع للصفحة الرئيسية</a></small>
				</p>
			</div>
		</div>
	</div>
</section>

{{ end }}
