{{ define "main" }}


<section class="fill-area section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="position-absolute top-50 start-50 translate-middle text-center " style="opacity: 0.05; font-size: 15rem; font-weight: 400; z-index: -1;">404</h1>
        <h1 class="text-center" id="test-text"> <i class="fas fa-skull-crossbones"></i> <br><br>
          here be dragons.</h1>
        <br><br>
        <p class="text-center"><a href="/" class="link-underline" style="font-weight: 900;">go home</a></p>
      </div>
    </div>
  </div>
</section>

{{ end }}
